@page "/counter"
@inject NavigationManager NavigationManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<input @bind-value="_customMessage"></input>

<button class="btn btn-primary" @onclick="GoToPage">Navigate With Custom Message</button>


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Query2 { get; set; }

    
    private int currentCount = 0;
    private string _customMessage;

    private void IncrementCount()
    {
        currentCount++;
    }
    
    private async Task GoToPage()
    {
        NavigationManager.NavigateTo($"/?query2={_customMessage}");
    }
    
}
